header {
    width: 100%;
    height: 60px;
    background-color: black;
    margin:0;
}

body {
    direction: rtl;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    background: none repeat scroll 0 0 #fff;
	height: 100%;
}



.header-img {
     background-image: url('../Media/header-pic.jpg');
    /*background-size:1250%,727%;*/
    width: 100%;
    max-height:500px;
    margin: 0;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top;
    margin: 0;
    min-height: 266px;
    height: auto;
    z-index: 1;
    position: absolute;
}

.content {
    /*background-size:1250%,727%;*/
    z-index: 2;
    position: relative;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-55%, 10%);
    margin: 0;
    overflow:auto;
}

.details {
    width:220px ; 
    height:380px;
    float: right;
    margin: 0;
    position:center;

}
.inputs {
 
     width:210px ; 
    height:30px;
}
.btnarrow {
  
}

.paragraph2{
  width: 100%;
  height: 400px;
  margin: 0;
   background-color:lightgray;
   background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}


.arrow {
    margin-top: 65px;
}

.sub-title h2{
	text-align: center;
	width: 40%;
    text-align: center;
    margin: auto;
}

/*.sub-title{
	width: 100%;
	text-align: center;}
}*/

.lectures-wrapper
{
	width: 100%;
	text-align: center;
    margin: 0;
    overflow:auto;
    display:table;
}

.lectures {
    width: 55%;
    /* text-align: center; */
    font-weight: bold;
    font-size: 2em;
	margin-top: 10px;
    /* top: 50%; */
    /* left: 65%; */
    transform: translate(-65%, 50%);
    /* overflow: auto; */
    /*  */
    /* margin: 0; */
}

.lecture {
     text-align: center;
    display:table-cell;
    float:right;
    margin: 15px;
    width: 105px;
    height: 75px;
	display: table;
}

	
.span_lacture_large {
    font-size:medium;
}
.span1{
   font-size: 0.5em;
}

.span2{
   font-size: 0.4em;
}

.location-item
{
	text-align: center;
	 margin-top: 10px;
}

.location-item div {
    display:inline;
     font-size: 1em;
    text-align: center;
    margin: 0;
   top: 50%;
   left:50%;
    transform: translate(-50%, 50%);
    overflow:auto;
    display:table;
}

.location-itme span {
    display:inline;
    font-weight:bold;
     font-size: 0.5em;
}

footer{
   background-color:#ffffff;
   height:22%;
   width:100%;
   margin:0;
}
.p{
	text-align:center;
    font-weight:bold;
    font-size: 2em;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    /*-ms-transform: translate(-50%, -50%);*/
    overflow:auto;
    display:table;
}


.clear {
 clear:both;
}